#root {
    -fx-background-color: red;
    -fx-background-image: url('bgpictures/loginbackground.jpg');
    -fx-background-size: cover;
    -fx-background-color: rgba(0, 0,0, 0.7); /* Adjust the last value for darkness (0-1) */
    -fx-border-color: #a0a0a0; /* Set frame color */
    -fx-border-width: 5px; /* Set frame width */
}

/* Style labels */
.label {
    -fx-text-fill: white;
    -fx-font-family: "Arial", sans-serif; /* Choose a readable font */
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-font-size: 18px;
}

/* Style text fields */
.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.7); /* Adjust the last value for transparency (0-1) */
    -fx-border-color: #a0a0a0; /* Set border color */
    -fx-border-radius: 5; /* Set border radius */
}

/* Style buttons */
.button {
    -fx-background-color: #2999; /* Set button background color */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #45a049; /* Set button border color */
    -fx-border-radius: 5; /* Set button border radius */
}
.button:hover{
    -fx-background-color: #00ffd7;
    -fx-border-color: white;
    -fx-border:2px;
}
